body {
  padding-top: 81px;  /* Move body of page below navbar. */
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.navbar-brand {
  padding-top: 0px;
}

.navbar-inverse {
  height: 81px;
  background-image: url('http://www.kamanucomposites.com/static/images/bg-carbon.jpg');
}

.navbar-inverse .navbar-nav>li>a {
  font-family: Lucida Grande, sans-serif;;
  font-size: 1.1em;
  font-weight: bold;
  color: #E5EDDC;
  text-align: center;
  width: 8em;
}

.canoes {
  background-image: url('http://www.kamanucomposites.com/static/images/www/pueo-canoes-front.jpg');
  background-size: cover;
  background-position: center;
  height: 385px;
  padding-top: 0px;
}

.tagline {
  background-color: black;
  height: 131px;
  text-align: center;
}

.tagline h2 {
  font-family: Georgia, Times;
  font-size: 3em;
  color: #666;
  font-weight: 700;
  margin: 0px;
  padding-top: 30px;
}